<form [formGroup]="searchForm" class="search-form">
  <img src="assets/icons/weather-icon.svg" class="weather-icon" />

  <div class="country-select">
    <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)">
      <mat-select-trigger>
        <div class="select-mat-country">
          <img [src]="'/assets/flags/' + country.value.code + '.ico'">
          <span>{{ country.value.code }}</span>
        </div>
      </mat-select-trigger>
      <mat-option *ngFor="let country of countries" [value]="country">
        <div class="select-mat-country">
          <img [src]="'/assets/flags/' + country.code + '.ico'" />
          <span>{{country.code}}</span>
        </div>
      </mat-option>
    </mat-select>
  </div>

  <div class="city-input-wrapper">
    <input matInput placeholder="Please enter your location" formControlName="city"
      (ngModelChange)="onCityChange($event)" class="city-input">
    <mat-icon matSuffix class="search-icon">search</mat-icon>
  </div>


</form>